<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
        xmlns:th="www.thymeleaf.org">
        
    <head>
        <title>Talker</title>
        <style>
            .validation-error {
                color: red;
            }
        </style>
    </head>
    <body>
        <p th:text="'Вы авторизованы как ' + ${username}"></p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выйти" />
        </form>
        <h2>Создать новую запись</h2>
        <form th:object="${post}" th:action="@{/post}" method="POST">
            
            <label for="title">Заголовок: </label>
            <input type="text" th:field="*{title}" />
            <span class="validation-error" th:if="${#fields.hasErrors('title')}"
                  th:errors="*{title}">Ошибка заголовка</span>
            <br />
            
            <label for="message">Что ты хочешь донести до остальных: </label>
            <input type="text" th:field="*{message}" />
            <br />
            
            <input type="submit" value="Опубликовать" />
        </form>
    </body>

</html>