<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
      
    <head>
        <title>Talker</title>
        <style>
            .validation-error {
                color: red;
            }
        </style>
    </head>
    
    <body>
        <p>Вы авторизованы как <a th:href="@{/profile/{userId}(userId=${user.id})}" th:text="${user.username}"></a> </p>
        
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выйти" />
        </form>
        
        <a th:href="@{/post/{postId}(postId=${postId})}">Вернуться к посту</a>
        <h1>Оставить комментарий</h1>
        <form th:object="${comment}" th:action="@{/post/{postId}/comment(postId=${postId})}" method="POST">
            
            <label for="message">Комментарий: </label>
            <textarea th:field="*{message}"></textarea>
            <span class="validation-error" th:if="${#fields.hasErrors('message')}"
                  th:errors="*{message}">Ошибка в комментарии</span>
            <br />
            
            <input type="submit" value="Опубликовать" />
        </form>
    </body>
</html>