<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
        xmlns:th="www.thymeleaf.org">
        
    <head>
        <title>Talker</title>
    </head>
    <body>
        <p>Вы авторизованы как <a th:href="@{/profile/{userId}(userId=${user.id})}" th:text="${user.username}"></a> </p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выйти" />
        </form>
        <h1>Добро пожаловать в Talker!</h1>
        <h3>Оставь свое сообщение миру</h3>

        <div style="border: 2px solid" th:each="post : ${posts}">
            <a th:href="@{/profile/{userId}(userId=${post.author.id})}" th:text="${post.author.username}"></a>
            <h3 th:text="${post.title}">Title</h3>
            <p th:text="${post.message}">Message</p>
            <a th:href="@{/post/{postId}(postId=${post.id})}">Открыть запись</a>
        </div>
    </body>

</html>