<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

    <head>
        <title>Talker</title>
        <style>
            .validation-error {
                color: red;
            }
        </style>
    </head>
    
    <body>
        
        <h1>Зарегистрироваться в Talker</h1>
        <form th:action="@{/signup}" th:object="${registrationDto}" method="post">
            
            <div>
                <label for="username">Имя пользователя: </label>
                <input type="text" id="username" name="username" />
                <span class="validation-error" th:if="${#fields.hasErrors('username')}"
                      th:errors="*{username}">Имя уже занято</span>
            </div>
            <div>
                <label for="password">Пароль: </label>
                <input type="password" id="password" name="password" />
                <span class="validation-error" th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}">Пароли не совпадают</span>
            </div>
            
            <div>
                <label for="confirm-password">Повторите пароль: </label>
                <input type="password" id="confirm" name="confirm" />
                <span class="validation-error" th:if="${#fields.hasErrors('confirm')}"
                      th:errors="*{confirm}">Пароли не совпадают</span>
            </div>
            
            <div>
                <input type="submit" value="Войти" />
            </div>
            
        </form>
        
    </body>
      
</html>